<p id="notice"><%= notice %></p>

<h1>Facebook Groups</h1>

<table class="center">
  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if logged_in? %>
  <h2><%= link_to 'New Group', new_group_path %></h2>
<% end %>
