<%= form_for(@friendship) do |f| %>
  <% if @friendship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@friendship.errors.count, "error") %> prohibited this friendship from being saved:</h2>

      <ul>
      <% @friendship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sender_id %><br>
    <%= f.number_field :sender_id %>
  </div>
  <div class="field">
    <%= f.label :receiver_id %><br>
    <%= f.number_field :receiver_id %>
  </div>
  <div class="field">
    <%= f.label :is_friend %><br>
    <%= f.check_box :is_friend %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
